{% extends 'base.html' %}

{% block title %}Radar Chart{% endblock %}

{% block content %}

<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>

 <center><h2>Radar Chart</h2></center>
  <div>
    <center>

      Circle of Fifths: <input type="radio" class="tonality" name="tonality" value="Major" checked="checked"> Major
                        <input type="radio" class="tonality" name="tonality" value="Minor"> Minor<br><br>


      Category: <select id="category" name="category">
          <option value="" disabled selected hidden></option>
          <option value="all">All Pieces</option>
          <option value="composer">Composer</option>
          <option value="period">Period</option>
          <option value="level">Level</option>
          </select><br><br>
      
    </center>
  </div>

  <div id="select-menu"></div>


  <div>
    <canvas id="radarChart"></canvas>
  </div>


  <script src="/static/js/radarchart.js"></script>


{% endblock %}