{% extends 'base.html' %}
{% block title %}Search{% endblock %}

{% block content %}

 <h1>SEARCH</h1>
 <form id="search-form" action="/results"> 
 	
 	Title: <input type="text" id="title" name="title"><br>
 	
 	Composer: <select id="composer-id" class="filter" name="composer-id">
 				<option selected></option> 
 				{% for composer in composers %}
 		 		<option value={{ composer[0] }}>
 		 		{{ composer[1] }} 
 		 		({{ composer[2] }} pieces)
 		 		</option>
 		 		{% endfor %}
		 	  </select><br>
 	
 	Period: <select id="period" class="filter" name="period">
 				<option selected></option> 
 				{% for period in periods %}
 		 		<option value={{ period[0] }}>
 		 		{{ period[0] }} 
 		 		({{ period[1] }} pieces)
 		 		</option>
 		 		{% endfor %}
 		 		</select><br>
 	
 	Level: <select id="level" class="filter" name="level">
 				<option selected></option> 
 				{% for level in levels %}
 		 		<option value={{ level[0] }}>
 		 		{{ level[0] }} 
 		 		({{ level[1] }} pieces)
 		 		</option>
 		 		{% endfor %}
 		 		</select><br>
 	
 	Key: <select id="key" class="filter" name="key">
 				<option selected></option> 
 				{% for key in keys %}
 		 		<option value={{ key[0] }}>
 		 		{{ key[0] }} 
 		 		({{ key[1] }} pieces)
 		 		</option>
 		 		{% endfor %}
 		 		</select><br>

	Tonality: <select id="tonality" class="filter" name="tonality">
 				<option selected></option> 
 				{% for tonality in tonalities %}
 		 		<option value={{ tonality[0] }}>
 		 		{{ tonality[0] }} 
 		 		({{ tonality[1] }} pieces)
 		 		</option>
 		 		{% endfor %}
 		 		</select><br>
 		 		
 </form>
	<br>
 <div id="results"></div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/js/searchform.js"></script>

{% endblock %}