{% extends 'base.html' %}
{% block title %}Homepage

{% endblock %}

{% block content %}
<h1>FIND SIMILAR PIECES</h1>
Select a composer.<br>

<form action="/find-pieces-by-composer"> 
	Composers: <select id="composer-id" name="composer-id">
				{% for composer in composers %}
				<option value={{ composer[0] }}>
		 		{{ composer[1] }} 
		 		({{ composer[2] }} pieces)
		 		</option>
		 		{% endfor %}
		 		</select><br><br>	
</form>

<div id="results"></div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="/static/js/suggestform.js"></script>


{% endblock %}